* {
    margin: 0;
    padding: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Yatra+One&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.header-home {
    width: 100%;
    background-image: url('/images/BCK31.jpg');
    height: 100vh;
    background-color: rgb(113, 110, 110);
    background-size: cover;
    background-blend-mode:multiply;
    background-repeat: no-repeat; 
    
}

.header-btns{
  display: flex;
  flex-wrap: wrap;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 77px;

}

.nav-list > li {
    margin-left: 18px;
    margin-top: 50px;
}

.nav_button_wrapper {
    margin: auto 100px;
}

 .enroll-btn-nav {
    background-color: #FB8B24;
    color: #222;
    height: fit-content;
    padding: 7px 25px 7px 25px;
    border-radius: 20px;
    transition: 0.475s ease-in-out;
    
    margin: auto 0;
   margin-right: 100px;
   text-decoration: none;
   color: white;
}
 .enroll-btn-nav:hover {
    background-color: #5F0F40;
    color: white;
}

.nav-list > li > a {
    color: white;
    text-decoration: none;
}

.navbar > .logo > img {
 width: 150px;
 margin: 10px 0  0 60px;
}

.main-text {
    margin-top: 180px;
    margin-left: 300px ;
    margin-right: 300px;
    color: white;
}

.main-text > h1 {
    font-size: 80px;
}

.main-text > p {
    margin-right: 500px;
    margin-bottom: 30px;
}

.main-text  .enroll-btn {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 30px;
    background-color: #FFF;
    padding: 14px 33px 14px 33px;
    border-radius: 20px;
}


.experience-section {
    padding: 50px;
    padding-bottom: 90px;
    background-color: #5F0F40;
    color: white;
}

.experience-section > .headline {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.experience-section > .stats {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.stats > .card {
    margin-top: 20px;
    width: 250 ;
    padding: 35px;
    background-color: #FB8B24;
    text-align: center;
    border-radius: 20px;
}

.card > h1 > strong {
    color: #5F0F40;
}
.welcome-section {
    display: flex;
    justify-content: center;
    width: 100%;
}
.welcome-content {
 margin: 77px 250px 50px 250px;
 width: 100%;
 display: flex;
 justify-content: center;
 
}
.welcome-content > .text  {
    width: 500px;
    margin-left: 100px;
}

.welcome-content > .text > h1 {
 font-size: 45px;
}

.welcome-content > .teacher-img {
    width: 350px;
    border-radius: 23px;
}



.course-img {
    max-width: 250px;
    object-fit: cover;
}

.course-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.course-block {
    background-color: #7d1254;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 100px;
    color: #fff;

}

.course-block > img {
  border-radius: 12px;
}

.course-block > .details {
    display: flex; 
    justify-content: space-evenly;
    margin: 15px 0;
}

.course-block > h2 {
   margin: 17px 3px;
}


.course-section-h1 {
    color: #FB8B24;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

.course-block > .extra-details > ul{
    list-style: none;
  
}
.course-block > .extra-details > ul > li {
    margin-top: 11px;
    color: whitesmoke;
}

.course-block-btn {
    margin-top: 30px;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #FB8B24;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-radius: 23px;
}

.contact-form {
    /* background-color: #1C3144; */
    border: #222 solid 0.3px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    margin: 50px auto;
    color: #000;
    border-radius: 30px;
}

.contact-form .left {
    flex: 0.5;
    background: none;
    height: auto;
    background-size: cover;
    border-radius: 30px;
    background-image: url('/images/pexels-anastasiya-gepp-1462630.jpg');
}

.contact-form .left > img {
 max-width:100%;
 height: max-content;
 border-radius: 30px;
}
.contact-form .right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
    /* border: solid black; */

}

.contact-form form > input {
    margin-top: 7px;
    margin-bottom: 20px;
    background: none;
    border: 1px rgb(187, 187, 187) solid;
    color: #000;
    padding: 10px;
    width: 240px;
    outline: none;
    border-radius: 10px;
}

.contact-form form > textarea {
    width: 258px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    margin-bottom: 20px;
    background: none;
    border: 1px rgb(187, 187, 187) solid;
    color: #000;
    padding: 10px;
    width: 240px;
    outline: none;
    border-radius: 10px;
}

.contact-form form > button {
    width: 260px;
    outline: none;
    border: none;
    color: white;
    background-color: #131720;
    padding: 10px;
    border-radius: 10px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.contact-form form > button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.contacth1 {
    text-align: center;
    color: #FB8B24;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0px 0 0;
    bottom: 0;
    position: relative;
    margin-top: 200px;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer__logo img {
    max-width: 100px;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  
  .footer__logo h1 {
    font-size: 1.5em;
    margin-left: 50px;
  }
  
  .footer__links, .footer__contact {
    flex: 1;
    margin-right: 20px;
    margin-left: 100px
  }
  
  .footer__links h2, .footer__contact h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer__links ul {
    list-style: none;
  }
  
  .footer__links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
  }
  
  .footer__links a:hover {
    color: #FB8B24;
  }
  
  .footer__contact p {
    margin-bottom: 10px;
  }
  
  .footer__bottom {
    background-color: #444;
    padding: 10px 0;
  }
  
  .footer__bottom p {
    color: #fff;
    margin: 0;
  }
  
  .footer__social {
    margin-top: 10px;
  }
  
  .footer__social a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
  }
  
  
/* ADDMISSIONS PAGE _-------------------------------------------------------- */
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Rest of the CSS remains the same */
 
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header Styles */
  .header {
    top: 0;
    position: sticky;
    /* background: url('/images/pexels-cdc-3992949.jpg') center/cover; */
    color: #fff;
    text-align: center;
    background-color: #131720;
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75); 
    /* padding: 0px 0 24px 0; */
    width: 100%;
  }
  
 
 
  
  .header__navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .header__navbar ul {
    list-style: none;
    padding: 0;
    margin: auto 20px ;
    display: flex;
    height: 100%;
    justify-content: center;
  }
  
  .header__navbar li {
    margin: 0 15px;
  }
  
  .header__navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s ease;
  }
  /* .Logo {
    margin-top: -30px;
  } */
  .header__navbar ul > a:hover {
    color: #FB8B24;
  }
  
  /* Admissions Page Styles */
  .admissions {
    padding: 50px 20px 10px 20px;
  }
 
  .admissions h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .admissions__requirements, .admissions__application, .admissions__contact {
    margin-bottom: 40px;
  }
  .admissions__requirements {
    margin: 40px 0;
    text-align: center;
  }
  
  .admissions__requirements h2, .admissions__application h2, .admissions__contact h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .admissions__requirements ul, .admissions__application ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .admissions__requirements li, .admissions__application li {
    margin-bottom: 10px;
  }
   .enrollment-documents {
    width: 100% !important;
  }
  
  .admissions__contact p {
    margin:10px 40px;
    margin-left: -30px;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer__social a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
  }
  #XYZ {
 color: #fff;
  }

  /* Add or update styles as needed */

.fees {
    padding: 50px 0;
  }
  
  .fees h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .fees p {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .fees-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  .fees-table th, .fees-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .orange-row {
    background-color: #FB8B24;
    color: #fff;
  }
  
  /* Rest of the styles remain the same */
  /* Add or update styles as needed */

.payment {
    padding: 50px 0;
  }
  
  .payment h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .payment p {
    margin-bottom: 40px;
  }
  
  .payment-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto !important;
  }
  
  .payment-table th, .payment-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  .text-center {
   text-align: center;
}
.normal-list {
    color: red;
    margin-left: 30px;
    margin-top: 30px;
}

.payment-instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_icon {
    margin-right: 50px;
    display: none;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131720; /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */ 
}

#overlay  .header__navbar-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-left: -47px;
}

#overlay  .header__navbar-mobile ul {
    margin-bottom: 30px;
    list-style: none;
    margin-top: 10px;
}
#overlay  .header__navbar-mobile li {
    margin-bottom: 10px;
}
#overlay  .header__navbar-mobile a {
    text-decoration: none;
    text-align: center;
    color: white;
}
.enroll-btn-nav {
    margin: 0;
}

#close_nav_btn {
    padding: 30px 0 0 30px;
}

/* CSS for Contact Section */
.contact {
    padding: 50px 20px;
display: flex;
justify-content: center;  }
  
  .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact p {
    margin-bottom: 30px;
  }
  
  .contact-details p, .working-hours p {
    margin-bottom: 10px;
  }
  
  .working-hours h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  /* CSS for Enrollment Documents Section */
.enrollment-documents {
    padding: 0 0 0 50px;
    color: #fff;
    background-color: #131720;
    /* margin: 50px; */
    
  }
  
  .enrollment-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
  }
  
  .enrollment-text {
    width: 50%;
  }
  
 
  
  .enrollment-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .enrollment-text p {
    margin-bottom: 30px;
    flex: 0.5;
  }
  
  .download-buttons {
    /* display: flex;
    flex-direction: column; */
  }
  
  .download-button {
    background-color: #2d68ff;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .download-button:hover {
    background-color: #1f4caf;
  }
  